@model List<Song>

<h2>Favorites</h2>

<h3>Songs</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var song in Model)
    {
        <tr>
            <td>@song.Name</td>
            <td><a href="@Url.Action("AddToPlaylist", new { id = song.SongID })">Add to playlist</a></td>
            <td>
                <a href="@Url.Action("DeleteFromFavorites", new { id = song.SongID})">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
