@model List<Playlists>

<h2>Choose a playlist</h2>

<form asp-action="Add" method="post">
    <input type="hidden" name="songID" value="@ViewBag.SongID" />
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var detail in Model)
        {
            <tr>
                <td>
                    <button type="submit" name="playlistID" value="@detail.PlaylistID">@detail.Name</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>
