@model Album

<h2>@Model.Name</h2>

<h3>Songs</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Add to playlist</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var song in DataBaseSelect.SelectAlbumsSongs(Model.AlbumID))
    {
        <tr>
            <td>@song.Name</td>
            <td><a href="@Url.Action("AddToPlaylist", new { id = song.SongID })">Add</a></td>
        </tr>
    }
    </tbody>
</table>
